#banner {
  background-color: $azul-oscuro;
  padding-top: 100px;

  h2 {
    color: $verde;
    font-size: 75px;
    font-weight: 600;
    font-family: 'nexa', sans-serif;
  }

  p {
    color: $blanco;
    font-family: 'avenir', sans-serif;
    width: 78%;
    font-size: 18px;
    text-align: start;
  }

  img {
    height: 600px;
    position: relative;
    top: -75px;
  }

  .btn {
    background-color: $verde;
    color: $azul-oscuro;
    font-weight: 600;
    font-family: 'nexa', sans-serif;
    border: none;
    border-radius: 32px;
    font-size: 32px;
    padding: 6px 44px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    @include transition(0.4s);
  }
}
