@font-face {
  font-family: 'nexa';
  src: url('../font/Nexa-Heavy.ttf');
}

@font-face {
  font-family: 'nexa-light';
  src: url('../font/Nexa-ExtraLight.ttf');
}

@font-face {
  font-family: 'avenir';
  src: url('../font/Avenir-Regular.ttf');
}

@font-face {
  font-family: 'avenir-light';
  src: url('../font/Avenir-Light.ttf');
}

@font-face {
  font-family: 'astetico';
  src: url('../font/aestetico-regular.otf');
}
