footer {
  margin-top: 100px;
  padding: 50px 0 45px 0;
  background-color: $azul-oscuro;
  color: $blanco;
  font-family: 'avenir-light', sans-serif;

  .contacto {
    font-size: 18px;
    font-weight: 600;
    color: $blanco;
    font-family: 'nexa', sans-serif;
  }

  .invitacion {
    font-size: 14px;
    font-weight: 100;
    color: $blanco;
    font-family: 'nexa-light', sans-serif;
  }

  #logo-footer { height: 100px; }
}
