@media (max-width: 767px) {
  #banner {
    padding: 25px 0;

    h2 { font-size: 48px; }
    p { width: 100%; font-size: 18px; }
    img { height: 330px; margin-top: 25px; top: 0; }
  }

  #logo-footer { height: 80px; margin-top: 15px; }
}
