@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($time: 0.3s) {
  transition: all $time ease-in-out;
}
