.navbar {
  background-color: $azul-oscuro !important;
  padding-top: 30px;
  font-family: 'avenir-light', sans-serif;

  #flecha { height: 12px; margin-left: 10px; }
  #logo { height: 60px; position: relative; }

  a { color: $blanco !important; }
}
